<?php
 ob_start();
 session_start();
 require_once 'dbconnect.php';
 
 // it will never let you open index(login) page if session is set
// if ( isset($_SESSION['user'])!="" ) {
//  header("Location: index.php");
//  exit;
// }
 
 $error = false;
 
 if( isset($_POST['loginBtn']) ) { 
  
  // prevent sql injections/ clear user invalid inputs
  $email = trim($_POST['email']);
  $email = strip_tags($email);
  $email = htmlspecialchars($email);
  
  $pass = trim($_POST['pass']);
  $pass = strip_tags($pass);
  $pass = htmlspecialchars($pass);
  // prevent sql injections / clear user invalid inputs
  
  if(empty($email)){
   $error = true;
   $emailError = "Please enter your email address.";
  } else if ( !filter_var($email,FILTER_VALIDATE_EMAIL) ) {
   $error = true;
   $emailError = "Please enter valid email address.";
  }
  
  if(empty($pass)){
   $error = true;
   $passError = "Please enter your password.";
  }
  
  // if there's no error, continue to login
  if (!$error) {
   
   $password = hash('sha256', $pass); // password hashing using SHA256
  
   $res=mysqli_query($conn,"SELECT userId, userName, userPass FROM users WHERE userEmail='$email'");
   $row=mysqli_fetch_array($res);
   $count = mysqli_num_rows($res); // if uname/pass correct it returns must be 1 row
   
   if( $count == 1 && $row['userPass']==$password ) {
    $_SESSION['user'] = $row['userId'];
    //header("Location: index.php");
   } else {
    $errMSG = "Incorrect Credentials, Try again...";
   }
    
  }
  
 }

 if ( isset($_POST['signUpBtn']) ) {
  
  // clean user inputs to prevent sql injections
  $name = trim($_POST['name']);
  $name = strip_tags($name);
  $name = htmlspecialchars($name);
  
  $email = trim($_POST['email']);
  $email = strip_tags($email);
  $email = htmlspecialchars($email);
  
  $pass = trim($_POST['pass']);
  $pass = strip_tags($pass);
  $pass = htmlspecialchars($pass);
  
  // basic name validation
  if (empty($name)) {
   $error = true;
   $nameError = "Please enter your full name.";
  } else if (strlen($name) < 3) {
   $error = true;
   $nameError = "Name must have atleat 3 characters.";
  } else if (!preg_match("/^[a-zA-Z ]+$/",$name)) {
   $error = true;
   $nameError = "Name must contain alphabets and space.";
  }
  
  //basic email validation
  if ( !filter_var($email,FILTER_VALIDATE_EMAIL) ) {
   $error = true;
   $emailError = "Please enter valid email address.";
  } else {
   // check email exist or not
   $query = "SELECT userEmail FROM users WHERE userEmail='$email'";
   $result = mysqli_query($conn,$query);
   $count = mysqli_num_rows($result);
   if($count!=0){
    $error = true;
    $emailError = "Provided Email is already in use.";
   }
  }
  // password validation
  if (empty($pass)){
   $error = true;
   $passError = "Please enter password.";
  } else if(strlen($pass) < 6) {
   $error = true;
   $passError = "Password must have atleast 6 characters.";
  }
  
  // password encrypt using SHA256();
  $password = hash('sha256', $pass);
  
  // if there's no error, continue to signup
  if( !$error ) {
   
   $query = "INSERT INTO users(userName,userEmail,userPass) VALUES('$name','$email','$password')";
   $res = mysqli_query($conn,$query);
    
   if ($res) {
    $errTyp = "success";
    $errMSG = "Successfully registered, you may login now";
    unset($name);
    unset($email);
    unset($pass);
   } else {
    $errTyp = "danger";
    $errMSG = "Something went wrong, try again later..."; 
   } 
    
  }
  
  
 }
?>
<!DOCTYPE html>
<html lang="en" ng-app="confApp">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MVRKtech</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
<body id="page-top" class="bod" ng-controller="checkoutController">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="index.html"><img alt="MVRK" src="img/menu_white.png" class="hidden-xs"></img>
        <img alt="MVRK" src="img/menu_white.png" class="hidden-md hidden-lg hidden-sm" width="300px" height="180px"></img></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" id="login">LOGIN/REGISTER</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">ABOUT US <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">WHY MVRK</a></li>
            <li><a href="#">MVRK VS OTHERS</a></li>
          </ul>
        </li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">PC <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Gaming Desktops</a></li>
            <li><a href="#">Proffesional Workstations</a></li>
            
            <li><a href="#">Custom Desktops(Coming Soon)</a></li>    
          </ul>
        </li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">SOLUTIONS <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Tuned for VR</a></li>
            <li><a href="#">Home Computers</a></li>
            
            <li><a href="#">OverClocking</a></li>    
            <li><a href="#">Liquid Cooling</a></li>    
            <li><a href="#">Corporate Solutions</a></li>    
          </ul>
        </li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">PERIPHERALS <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">MOUSE</a></li>
            <li><a href="#">KEYBOARD</a></li>  
            <li><a href="#">HEADPHONES</a></li>  
          </ul>
        </li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">SUPPORT <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">FAQ</a></li>
            <li><a href="#">REQUEST HELP</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">MY ACCOUNT <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Details</a></li>
            <li><a href="#">My Cart</a></li>
            <li class="divider"></li>
            <li><a href="#">My Orders</a></li>
            <li class="divider"></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
<!--
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav">
        <li><a href="#">Call Us Today! +91 8286242128|info@mvrktech.com</a></li>
        <li class="pull-right"><a href="#">LOGIN/REGISTER</a></li>
        <li class="dropdown pull-right">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">ABOUT US <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">WHY MVRK</a></li>
            <li><a href="#">MVRK VS OTHERS</a></li>
          </ul>
        </li>
      </ul>
    </div>
-->
  </div>
</nav>
<!--    Nav bar end-->
    
    <div class="container">
        <div class="row">
            <p style="margin-top:100px"></p>
            <div>
                <p><h3>Your Cart</h3></p>
            </div>
    
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-xs-9">
                <ul class="nav nav-tabs" id="mytabs">
                    <li class="active"><a data-toggle="tab" href="#cart">Cart</a></li>
                    <li><a data-toggle="tab" href="#reg"> Account Credentials</a></li>
                    <li><a data-toggle="tab" href="#address">Address</a></li>
                    <li><a data-toggle="tab" href="#payment">Payment</a></li>
                  </ul>
                <div class="tab-content">
                    <div id="cart" class="tab-pane fade in active">
                    <div class="row">
                            <p style="margin-top:10px"></p>
                            <div class="col-md-2 hidden-xs">
                                
                            </div>
                            <div class="col-md-5 hidden-xs">
                                <p>Name</p>
                            </div>
                            <div class="col-md-2 hidden-xs">
                              <p>Price</p>
                            </div>
                        </div>
                    <div ng-repeat="product in cart">
                        <div class="cart-el">
                        <div class="row">
                            <div class="col-md-2 col-xs-6">
                                <img src={{product.imageURL}} alt="Description" width="100px" height="100px"> 
                            </div>
                            <div class="col-md-5 col-xs-6">
                                <p><h3>{{product.name}}</h3></p>
                            </div>
                            <div class="col-md-2 col-xs-6">
                              <p><h4>&#8377; {{product.price}}</h4></p>
                            </div>
                            <div class="col-md-2 col-xs-6">
                                <a class="btn btn-danger" role="button" ng-click="remove(product)">Remove</a>
                            </div>
                        </div>
                    </div>
                        </div>
                    <a href="#" id="proceed" class="btn btn-success pull-right" role="button">Next</a>
                    </div>
                    <div id="reg" class="tab-pane fade">
                        <div class="row">
                        <p style="margin-top:10px;margin-left:15px;"></p>
                            <div class="col-md-5">
                            <div class="form-group">
	                       <label for="form-email">Email</label>
	                       <input type="email" name="form-username" placeholder="Email" class="form-username form-control" id="form-username">
	                  </div>
                            <div class="form-group">
	                       <label for="form-password">Password</label>
	                       <input type="password" name="form-password" placeholder="Password" class="form-password form-control" id="form-password">
	                  </div>
                            <a href="">Create a New Account</a>
                            </div>
                      </div>
                        <a href="#" id="proceed1" class="btn btn-success pull-right" role="button">Next</a>
                    
                        </div>
                    <div id="address" class="tab-pane fade">
                      <div class="row">
                        <p style="margin-top:10px;margin-left:15px;"></p>
                            <div class="col-md-6">
                            <div class="form-group">
	                       <label for="form-name">Full Name</label>
	                       <input type="text" name="form-username" placeholder="Name" class="form-username form-control" id="form-username">
	                       </div>
                            <div class="form-group">
	                       <label for="form-addline1">Address Line 1</label>
	                       <input type="text" name="addline1" placeholder="Password" class="form-text form-control" id="form-addline1">
	                       </div>
                            <div class="form-group">
                            <label for="form-addline2">Address Line 2</label>
	                       <input type="text" name="addline2" placeholder="Adresss" class="form-text form-control" id="form-addline2">
                            </div>
                          </div>
                            <div class="col-md-6"> 
                            <div class="form-group">
                            <label for="form-city">City</label>
	                       <input type="text" name="city" placeholder="City" class="form-text form-control">
                            </div>
                            <div class="form-group">
                            <label for="form-state">State</label>
	                       <input type="text" name="form-state" placeholder="State" class="form-text form-control">
                            </div>
                            <div class="form-group">
                            <label for="form-state">Phone Number</label>
	                       <input type="number" name="form-phone" placeholder="Phone" class="form-text form-control" id="form-phone" maxlength="10">
                            </div>
                            </div>
                      </div>
                         <button type="submit" class="btn" name="addBtn">SubmitAdd</button> 
                        <a href="#" id="proceed2" class="btn btn-success pull-right" role="button">Next</a>
	               </div>
                    <div id="payment" class="tab-pane fade">
                      <div class="row">
                        <p style="margin-top:10px;margin-left:15px;"></p>
                          <p>Payment Method</p>  
                      </div>
                        <a href="#" id="proceed2" class="btn btn-success pull-right" role="button">Next</a>
                </div>         
                </div>
            </div>
             <div class="col-md-3 col-xs-3">
                <div class="totalpricebox">
                <p><h3>Total Price</h3></p>
                <p><h4>&#8377; {{totalprice}}</h4></p>
                </div>
            </div>       
        </div>
    </div>   
<!-- end Left to right-->
 <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <p class="foot">© 2016 MVRK ,All Rights Reserved<br><br>

Our computer systems are assembled carefully with Rigorously tested and built to last for the long run.They are not just randomly picked parts, but hours of research and hard work, providing the finest intricately built custom computer solutions in the industry by using the latest technology and supporting it with an optimum level of service to ensure customer satisfaction.Our rigs has the power to drive gaming on 4K displays graphics-intensive games and applications whether it’s 3D modelling or Virtual Reality .MVRK is a reference to the best hardware in the Indian market.
                    </p>
                </div>
                <div class="pull-right">
                    <p style="margin-left:20px;"></p>
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter fa-2x"></i></a>
                        </li>
                        <li><a href="https://www.facebook.com/mvrktech/"><i class="fa fa-facebook fa-2x"></i></a>
                        </li>
                        <li><a href="https://www.youtube.com/channel/UC5nXS5EPG7hrbZPs7wfzlWg"><i class="fa fa-youtube fa-2x"></i></a>
                        </li>
                        <li><a href="https://www.instagram.com/mvrktech/"><i class="fa fa-instagram fa-2x"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
     <script src="js/bootstrap.min.js"></script>
        <script src="js/angular.min.js"></script>

<script src="js/checkout.js"></script>
</body>

</html>
