<!DOCTYPE html>
<html lang="en" ng-app="confApp">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Intel Configurations</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
<body id="page-top" class="bod">

    <!-- Navigation -->
    <div id="nav">
    </div>
    <section ng-controller="cartController">
        <div class="container">
            <div class="row">
                <div class="col-md-4 list-el">
                    <div>
                        <h2>ELIXIR X</h2>
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
                    <ol class="carousel-indicators">
                      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                      <li data-target="#myCarousel" data-slide-to="1"></li>
                      <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                      <div class="item active">
                          <a href="#" data-toggle="modal" data-target="#lightbox"> 
                            <img src="img/elixirx1.png" alt="ElexirX" class="carimg">
                        </a>  
                      </div>

                      <div class="item">
                          <a href="#" data-toggle="modal" data-target="#lightbox"> 
                            <img src="img/elixirx2.png" alt="ElexirX" class="carimg">
                         </a>
                      </div>

                      <div class="item">
                        <a href="#" data-toggle="modal" data-target="#lightbox"> 
                            <img src="img/elixirx3.png" alt="ElexirX" class="carimg">
                         </a>
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                      <i class="fa fa-angle-left" aria-hidden="true" style="margin-top:150px"></i>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                      <i class="fa fa-angle-right" aria-hidden="true" style="margin-top:150px"></i>
                      <span class="sr-only">Next</span>
                    </a>
                </div>
                        <hr>
                        <p>Optimized for the best performance without breaking the bank.</p>
                        <hr>
                        <div class="feature-images">
                            <img src="img/common%20featrues/Copy%20of%2052918B_AMD_Rad_E_RGB.png"><img src="img/common%20featrues/dx12.png">
                            <img src="img/common%20featrues/Copy%20of%20geforce-badge.png"><img src="img/ElixirX/Copy%20of%20Intel_Core_i3_logo.png">
                        </div>
                        <hr>
                        <div class="row">
                            <div class="sp">
                                <div class="col-md-4 col-xs-6">
                            <ul class="specsname">
                            <li>Processor</li>
                            <li>Chipset</li>
                            <li>GPU</li>
                            <li>RAM</li>
                            <li>Power Supply</li>
                            <li>Storage</li>
                            <li>Extra Storage</li>
                            <li>Liquid Cooling</li>
                            <li>Case</li>
                        </ul>
                        </div>
                        <div class="col-md-8 col-xs-6">
                            <ul class="specs">
                            <li>Intel i3 6100</li>
                            <li>ASUS H110m</li>
                            <li>GTX 750TI</li>
                            <li>8 GB RAM</li>
                            <li>PSU</li>
                            <li>1TB Blue</li>
                            <li>None</li>
                            <li>None</li>
                            <li>Available</li>
                            </ul>
                        </div>
                            </div>
                        </div>
                        

                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="price">Starts at<br>&#8377; 39,000</div>
                            </div>
                            <div class="col-md-6">
                                <div class="buy">
                                <a  class="btn btn-success" ng-click="cust('ElixirX')" role="button">CUSTOMIZE</a>
                                <a class="btn btn-danger" role="button" ng-click="buy('ElixirX')">BUY NOW</a>
                                </div>
                            </div> 
                        </div>
                        
                    </div>
                    
                </div>
                <div class="col-md-4 list-el">
                        <h2>NEMESIS X</h2>
                        <div id="myCarousel1" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
                    <ol class="carousel-indicators">
                      <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
                      <li data-target="#myCarousel1" data-slide-to="1"></li>
                      <li data-target="#myCarousel1" data-slide-to="2"></li>
                    </ol>
                            <div class="slider">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                      <div class="item active">
                          <a href="#" data-toggle="modal" data-target="#lightbox"> 
                            <img src="img/nemesisx1.png" alt="NEMESISX" class="carimg">
                         </a>
                      </div>

                      <div class="item">
                        <a href="#" data-toggle="modal" data-target="#lightbox"> 
                            <img src="img/nemesisx2.png" alt="NEMESISX" class="carimg">
                         </a>
                      </div>

                      <div class="item">
                        <a href="#" data-toggle="modal" data-target="#lightbox"> 
                            <img src="img/nemesisx3.png" alt="NEMESISX" class="carimg">
                         </a>
                        </div>
                    </div>
                            </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel1" role="button" data-slide="prev">
                      <i class="fa fa-angle-left" aria-hidden="true" style="margin-top:150px"></i>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel1" role="button" data-slide="next">
                      <i class="fa fa-angle-right" aria-hidden="true" style="margin-top:150px"></i>
                      <span class="sr-only">Next</span>
                    </a>
                </div>
                        <hr>
                        <p>Mid-Tower Systems for demanding performance.<br><br></p>
                        <hr>                 
                        <div class="feature-images">
                            <img src="img/common%20featrues/Copy%20of%2052918B_AMD_Rad_E_RGB.png"><img src="img/common%20featrues/dx12.png">
                            <img src="img/common%20featrues/Copy%20of%20geforce-badge.png"><img src="img/NemesisX/Copy%20of%2006003044-photo-logo-intel-core-i5.jpg">
                            <img src="img/common%20featrues/Copy%20of%20vr.png">
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-4 col-xs-6">
                            <ul class="specsname">
                            <li>Processor</li>
                            <li>Chipset</li>
                            <li>GPU</li>
                            <li>Power Supply</li>
                            <li>Storage</li>
                            <li>Extra Storage</li>
                            <li>RAM</li>
                            <li>Liquid Cooling</li>
                            <li>Case</li>
                        </ul>
                        </div>
                        <div class="col-md-8 col-xs-6">
                            <ul class="specs">
                            <li>Intel i5 4460</li>
                            <li>ASUS z170 Pro Game</li>
                            <li>ASUS GTX 970 (8GB)</li> 
                            <li>PSU  650W</li>
                            <li>1TB Blue</li>
                            <li>SSD</li>
                            <li>None</li>
                            <li>None</li>
                            <li>Available</li>
                            </ul>
                        </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="price">Starts at<br>&#8377; 56,000</div>
                            </div>
                            <div class="col-md-6">
                                <div class="buy">
                                <a   class="btn btn-success" ng-click="cust('NemesisX')" role="button">CUSTOMIZE</a>
                                <a class="btn btn-danger" role="button" ng-click="buy('NemesisX')">BUY NOW</a>
                                </div>
                            </div> 
                        </div>
                    
                </div>
                <div class="col-md-4 list-el">
                        <h2>SHAFT X</h2>
                        <div id="myCarousel2" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
                    <ol class="carousel-indicators">
                      <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
                      <li data-target="#myCarousel2" data-slide-to="1"></li>
                      <li data-target="#myCarousel2" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                      <div class="item active">
                          <a href="#" data-toggle="modal" data-target="#lightbox"> 
                            <img src="img/shaftx1.png" alt="Shaft" class="carimg">
                         </a>
                      </div>

                      <div class="item">
                        <a href="#" data-toggle="modal" data-target="#lightbox"> 
                            <img src="img/shaftx2.png" alt="Shaft" class="carimg">
                         </a>
                      </div>

                      <div class="item">
                        <a href="#" data-toggle="modal" data-target="#lightbox"> 
                            <img src="img/shaftx3.png" alt="Shaft" class="carimg">
                         </a>
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel2" role="button" data-slide="prev">
                      <i class="fa fa-angle-left" aria-hidden="true" style="margin-top:150px"></i>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel2" role="button" data-slide="next">
                      <i class="fa fa-angle-right" aria-hidden="true" style="margin-top:150px"></i>
                      <span class="sr-only">Next</span>
                    </a>
                </div>
                        <hr>
                        <p>Configured Full Tower Systems gor unmatched gaming performance and graphics.</p>        <hr>
                        
                     <div class="feature-images">
                            <img src="img/common%20featrues/Copy%20of%2052918B_AMD_Rad_E_RGB.png"><img src="img/common%20featrues/4k.png">
                            <img src="img/common%20featrues/Copy%20of%20geforce-badge.png"><img src="img/ShaftX/Copy%20of%204th-Generation-Intel%C2%AB-Core%C3%96-i7-Processor-Badge.png">
                            <img src="img/common%20featrues/Copy%20of%20vr.png">
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-4 col-xs-6">
                            <ul class="specsname">
                            <li>Processor</li>
                            <li>Chipset</li>
                            <li>GPU</li>
                            <li>Storage</li>
                            <li>Extra Storage</li>
                            <li>Power Supply</li>
                            <li>Liquid Cooler</li>
                            <li>RAM</li>
                            <li>Case</li>
                        </ul>
                        </div>
                        <div class="col-md-8 col-xs-6">
                            <ul class="specs">
                            <li>Intel I7 6700 </li>
                                <li>Asus Maximus VIII Ranger</li>
                                <li>MSI FE 1080</li>
                                <li>SSD  240GB</li>
                                <li>1TB Black  WD</li>
                                <li>PSU 750W</li>
                                <li>H110i</li>
                                <li>RAM 16GB</li>
                                <li>Available</li>
                            </ul>
                        </div>
                        </div>                    
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="price">Starts at<br>&#8377; 1,58,000</div>
                            </div>
                            <div class="col-md-6">
                                <div class="buy">
                                <a   class="btn btn-success" ng-click="cust('ShaftX')" role="button">CUSTOMIZE</a>
                                <a ng-click="buy('ShaftX')" class="btn btn-danger" role="button">BUY NOW</a>
                                </div>
                            </div> 
                        </div>
                    
                </div> 
            </div>
        </div>
    </section>
<!-- end Left to right-->
    <div id="lightbox" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <button type="button" class="close hidden" data-dismiss="modal" aria-hidden="true">×</button>
        <div class="modal-content">
            <div class="modal-body">
                <img src="" alt="" />
            </div>
        </div>
    </div>
</div>
 <div id="footer">
</div>
    <div class="modal fade" id="modal-login" tabindex="-1" role="dialog" aria-labelledby="modal-login-label" aria-hidden="true">
        	<div class="modal-dialog">
        		<div class="modal-content">
        			
        			<div class="modal-header">
        				<button type="button" class="close" data-dismiss="modal">
        					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        				</button>
        				<h3 class="modal-title" id="modal-login-label">Login to MVRK</h3>
        				<p>Enter your username and password to log on:</p>
        			</div>
        			
        			<div class="modal-body">
        				
	                    <form role="form" action="" method="post" class="login-form">
	                    	<div class="form-group">
	                    		<label for="form-username">Email</label>
	                        	<input type="text" name="form-username" placeholder="Email..." class="form-username form-control" id="form-username">
	                        </div>
	                        <div class="form-group">
	                        	<label for="form-password">Password</label>
	                        	<input type="password" name="form-password" placeholder="Password..." class="form-password form-control" id="form-password">
	                        </div>
	                        <button type="submit" class="btn">Log in</button>
                            
                        </form>
	                    <p class='create'><a href="#" id="create">Create an account</a></p>
        			</div>
        			
        		</div>
        	</div>
        </div>
    <div class="modal fade" id="register-login" tabindex="-1" role="dialog" aria-labelledby="modal-login-label" aria-hidden="true">
        	<div class="modal-dialog">
        		<div class="modal-content">
        			
        			<div class="modal-header">
        				<button type="button" class="close" data-dismiss="modal">
        					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        				</button>
        				<h3 class="modal-title" id="modal-login-label">Register at MVRK</h3>
        			</div>
        			
        			<div class="modal-body">
        				
	                    <form role="form" action="" method="post" class="login-form">
	                    	<div class="form-group">
	                    		<label for="form-username">Name</label>
	                        	<input type="text" name="form-username" placeholder="Name" class="form-username form-control" id="form-username">
	                        </div>
                            <div class="form-group">
	                    		<label for="form-email">Email</label>
	                        	<input type="email" name="form-username" placeholder="Email" class="form-username form-control" id="form-username">
	                        </div>
	                        <div class="form-group">
	                        	<label for="form-password">Password</label>
	                        	<input type="password" name="form-password" placeholder="Password" class="form-password form-control" id="form-password">
	                        </div>
	                        <button type="submit" class="btn">Register</button>   
                        </form>
        			</div>
        			
        		</div>
        	</div>
        </div>
    
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/modal.js"></script>
    <script src="js/common.js"></script>
    <script src="js/lightbox.js"></script>
    <script src="js/checkout.js"></script>
</body>

</html>
